@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Fira Sans Condensed', sans-serif;
    @apply text-slate-800 font-normal box-border;
}

.container {
    @apply max-w-[1300px] w-full mx-auto;
}

.profile-content {
    @apply border-[1px] shadow-xl p-6 pb-5 rounded-lg;
}

.profile-left p {
    @apply mb-1;
}